<?xml version="1.0"?>
<!--
/**
* Product : Sols Webdesign Msi Inconsistencies
*
* @copyright Copyright © 2023 Sols Webdesign. All rights reserved.
* @author    Peter Banchev
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SolsWebdesign_MsiInconsistencies::index" sortOrder="15" title="Msi Inconsistencies"
             module="SolsWebdesign_MsiInconsistencies" parent="Magento_Catalog::catalog_products"
             resource="SolsWebdesign_MsiInconsistencies::index" translate="title"
             action="msi_inconsistencies/products/index"/>
    </menu>
</config>



