<?xml version="1.0"?>
<!--
/**
* Product : Sols Webdesign Msi Inconsistencies
*
* @copyright Copyright © 2023 Sols Webdesign. All rights reserved.
* @author    Peter Banchev
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="msi_inconsistencies" frontName="msi_inconsistencies">
            <module name="SolsWebdesign_MsiInconsistencies"/>
        </route>
    </router>
</config>
